<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" 
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" 
    crossorigin="anonymous">
    <title>business.com</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to business.com!</h1>
    <h2 style="text-align: center;">We are a company dedicated to business!</h2>
    <br>
    <p style="text-align: center;">We are hiring! Please click the button below to apply!</p>
    <a class="pure-button pure-button-primary" href="/apply" 
    style="padding: 10px 20px; border-radius: 5px;
    display: flex; justify-content: center; margin: .7em 0 0">Apply now!</a>
</body>
</html>