<!DOCTYPE html>
<html lang="en">
<head>
    <title>business.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" 
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" 
    crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">Thanks for applying! Here's what we got from you:</h1>
    <p>Race/Ethnicity: {{race}}</p>
    <p>Gender: {{gender}}</p>
    <p>Legally Authorized? {{legallyAuthorized}}</p>
    <p>Will Require Sponsorship? {{willRequire}}</p>
    <p>Can Verify Authorization? {{canVerify}}</p>
    <p>Veteran Status: {{veteranStatus}}</p>
    <p>Disability Status: {{disabilityStatus}}</p>
</body>
</html>